@page "/employees"
@using WasmBaseProject.Infrastructure.Store.Employees
@using WasmBaseProject.Domain.Enums
@using WasmBaseProject.Domain.Dtos
@using WasmBaseProject.Infrastructure.ViewModels
@inherits FluxorComponent
@inject IState<EmployeesState> State
@inject IDispatcher Dispatcher
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<PageTitle>Employees</PageTitle>
<MudText Typo="Typo.h3" GutterBottom>Employees</MudText>

<MudPaper Class="pa-4 d-flex align-center justify-center" Elevation="3">
    <MudTable HeaderClass="mt-4" Class="flex-grow-1" Items="State.Value.Employees" Dense="true" Loading="@State.Value.IsLoading" TotalItems="@State.Value.Employees!.Count()" Virtualize Filter="new Func<EmployeeListViewModel, bool>(FilterFunc1)" Hover="true" SortLabel="Sort By" Elevation="0">
        <ToolBarContent>
            <MudText Typo="Typo.h6">List of employees</MudText>
            <MudSpacer/>
            <MudTextField @bind-Value="_filterString" Variant="Variant.Outlined" Margin="Margin.Dense" Immediate Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0 mx-2"></MudTextField>
            <MudButton StartIcon="@Icons.Filled.PersonAdd" DisableElevation="true" Size="Size.Large" Color="Color.Primary" Variant="Variant.Filled" OnClick="ShowCreateNewDialog">Add</MudButton>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>Name</MudTh>
            <MudTh>Email</MudTh>
            <MudTh>BirthDate</MudTh>
            <MudTh>Status</MudTh>
            <MudTh>Options</MudTh>
        </HeaderContent>
        <LoadingContent>
            <Loading />
        </LoadingContent>
        <NoRecordsContent>
            <div class="d-flex align-center justify-center flex-column ">
                <MudContainer Class="flex-grow-1">
                    <MudIcon Style="@($"color:{Colors.Grey.Lighten1}")" Icon="@Icons.Filled.List" Size="Size.Large"></MudIcon>
                    <MudText Typo="Typo.subtitle1" GutterBottom Style="@($"color:{Colors.Grey.Lighten1}")">There is no employees, click + Add button to create a new one</MudText>
                </MudContainer>
            </div>
        </NoRecordsContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Name">@context.FullName </MudTd>
            <MudTd DataLabel="Email">@context.Email </MudTd>
            <MudTd DataLabel="BirthDate" HideSmall>@context.Birthdate</MudTd>
            <MudTd DataLabel="Status">
                <MudButton Variant="Variant.Text" DisableRipple Color="context.Status!.Value ? Color.Success : Color.Error">@context.Status!.Name</MudButton>
            </MudTd>
            <MudTd DataLabel="Options">
                <MudButtonGroup OverrideStyles="false">
                    <MudIconButton Color="Color.Primary" Icon="@(context.Status!.Value ? Icons.Filled.PersonOff : Icons.Filled.Person)" Title="@(context.Status!.Value ? "Deactivate" : "Activate")" OnClick="() => UpdateEmployeeStatus(context.Id, context.Status!)"></MudIconButton>
                    <MudButton Color="Color.Primary" StartIcon="@Icons.Filled.Info" OnClick="() => ShowDetailsDialog(context.Id)">Details</MudButton>
                    <MudButton Color="Color.Primary" StartIcon="@Icons.Filled.Edit" OnClick="() => ShowEditDialog(context.Id)">Edit</MudButton>
                    <MudButton StartIcon="@Icons.Filled.Delete" Color="Color.Error" OnClick="() => ShowDeleteDialog(context)">Remove</MudButton>
                </MudButtonGroup>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new[] { 10, 15, 20, 40, 50 }"/>
        </PagerContent>
    </MudTable>
</MudPaper>


@code {
    private string _filterString = "";

    protected override async Task OnInitializedAsync()
    {
        Dispatcher.Dispatch(new GetEmployeesAction());

        SubscribeToAction<GetEmployeesSuccessAction>(action =>
        {
            if (action.Employees is null)
                return;

            if (!action.Employees.Any())
                return;

            Snackbar.Add("Employees loaded", Severity.Success);
        });
        SubscribeToAction<UpdateEmployeeStatusSuccessAction>(action => { Snackbar.Add($"Employee Id:{action.Id} status updated", Severity.Success); });
        SubscribeToAction<DeleteEmployeeSuccessAction>(action => { Snackbar.Add($"Employee Id:{action.Id} deleted", Severity.Success); });

        SubscribeToAction<EmployeeFailedAction>(action => { Snackbar.Add(action.ErrorMessage, Severity.Error); });

        await base.OnInitializedAsync();
    }

    private void UpdateEmployeeStatus(int id, EmployeeStatus status)
    {
        Dispatcher.Dispatch(new UpdateEmployeeStatusAction(id, new UpdateEmployeeStatusDto { Status = status }));
    }

    private void ShowCreateNewDialog()
    {
        DialogService.Show<CreateEmployeeDialog>("Create New Employee",
            new DialogOptions { MaxWidth = MaxWidth.Medium, FullWidth = true });
    }
    
    private void ShowDetailsDialog(int id)
    {
        DialogService.Show<DetailsEmployeeDialog>("Employee Details", new DialogParameters { { "EmployeeId", id } },
            new DialogOptions { MaxWidth = MaxWidth.Medium, FullWidth = true });
    }

    private void ShowEditDialog(int id)
    {
        DialogService.Show<EditEmployeeDialog>("Edit Employee", new DialogParameters { { "EmployeeId", id } },
            new DialogOptions { MaxWidth = MaxWidth.Medium, FullWidth = true });
    }

    private void ShowDeleteDialog(EmployeeListViewModel viewModel)
    {
        DialogService.Show<DeleteEmployeeDialog>("Delete Employee", new DialogParameters { { "Employee", viewModel } },
            new DialogOptions { MaxWidth = MaxWidth.Medium, FullWidth = true });
    }

    private bool FilterFunc1(EmployeeListViewModel viewModel) => FilterFunc(viewModel, _filterString);

    private bool FilterFunc(EmployeeListViewModel viewModel, string filter)
    {
        if (string.IsNullOrWhiteSpace(filter))
            return true;
        if (viewModel.FullName!.Contains(filter, StringComparison.OrdinalIgnoreCase))
            return true;
        if (viewModel.Email!.Contains(filter, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

}